PORT=3001
SECRET_TOKEN=your_secret_token_here
POCKET_HOST_URL=https://app-tracking.pockethost.io/api/collections/notes/records
POCKET_HOST_TOKEN=Bearer your_production_pocket_token
POCKET_HOST_USER_ID=2
